.create {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.504)), url("/public/images/architect-9014868.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}