.error {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  color: rgba(255, 255, 255, 0.836);
  font-size: 6em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
}
.error .video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}