.about {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/pexels-pixabay-262367.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  display: grid;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}
.about::-webkit-scrollbar {
  width: 0;
}
.about .about_frame {
  all: unset;
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.about .about_frame::-webkit-scrollbar {
  width: 0;
}
.about .about_frame .alpha {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about .about_frame .alpha .one {
  display: grid;
  justify-content: center;
  align-content: center;
}
.about .about_frame .alpha .one .About_h1 {
  all: unset;
  text-transform: uppercase;
  text-align: center;
  font-size: 8em;
  filter: drop-shadow(5px, 5px, 5px rgb(0, 0, 0));
}
.about .about_frame .alpha .two {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 1em;
  box-sizing: border-box;
  padding-bottom: 2em;
}
.about .about_frame .alpha .two .article {
  padding: 1em;
  border-radius: 0.2em;
  width: inherit;
  -webkit-backdrop-filter: blur(0.9em);
          backdrop-filter: blur(0.9em);
  outline: #fff;
  background: rgba(175, 175, 175, 0);
  margin-left: auto;
  margin-top: auto;
  height: 40vh;
  display: flex;
  box-sizing: border-box;
  overflow: scroll;
}
.about .about_frame .alpha .two .article::-webkit-scrollbar {
  width: 0;
}
.about .about_frame .alpha .two .article p {
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: bold;
}
.about .about_frame .about_omega {
  all: unset;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 2fr));
  gap: 1em;
  box-sizing: border-box;
  padding: 2em;
}
.about .about_frame .about_omega .omega_sections {
  background-color: #050505;
  min-height: 30em;
}
.about .about_frame .beta {
  display: grid;
}

@media screen and (max-width: 480px) {
  .about .about_frame {
    padding: 0.5em 0em;
  }
  .about .about_frame .alpha {
    display: grid;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
  }
  .about .about_frame .alpha .one {
    height: -moz-fit-content;
    height: fit-content;
    margin: 2em 0em;
    padding-top: 3.5em;
  }
  .about .about_frame .alpha .one .About_h1 {
    line-height: 0.5em;
  }
  .about .about_frame .alpha .two {
    height: -moz-fit-content;
    height: fit-content;
  }
  .about .about_frame .alpha .two .article {
    height: -moz-fit-content;
    height: fit-content;
  }
}