.contact {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/public/images/architect-3979490.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: aliceblue;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0;
    }
    .contact_frame {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        overflow: auto;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 0;
        }
        .contact_holder {
            &.one {
                all: unset;
                height: 100vh;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
                justify-content: center;
                align-content: center;
                gap: 1em;
                padding: 1.5em;
                .one_article {
                    height: 50vh;
                    background: #00000070;
                    font-size: 2em;
                    text-transform: capitalize;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1em;
                    line-height: 0.8em;
                    letter-spacing: -0.01em;
                    text-wrap: nowrap;

                    .social_icons_links {
                        text-decoration: none;
                        color: #fff;
                    }
                    .socialplus{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        .contact_frame {
            .contact_holder {
                &.one {
                    grid-template-columns: 1fr;
                    height: fit-content;
                }
            }
        }
    }
}
