.arc_resident {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/blueprints-40280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: aliceblue;
    box-sizing: border-box;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    .arc_resident_frame {
        all: unset;
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;

        .arc_frame1 {
            min-height: 100vh;
            display: grid;
            align-content: end;
            text-transform: capitalize;
            .arcbox {
                all: unset;
                height: fit-content;
                width: fit-content;
                display: flex;
                text-wrap: wrap;
                flex-direction: column;
                justify-content: baseline;
                align-items: flex-start;
                font-size: 1.5em;
                margin: 2em;
                text-transform: capitalize;
                .backarrow {
                    animation: 1s back ease-in-out infinite;
                }
                p {
                    all: unset;
                    span {
                        font-size: 0.7em;
                        text-transform: uppercase;
                    }
                    .one {
                        font-size: 0.85em;
                        color: #ffffff67;
                    }
                    a {
                        all: unset;
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                }
                .ancho {
                    margin-top: 0.8rem;
                    display: flex;
                    align-items: center;
                    span {
                        padding-left: 1em;
                        display: grid;
                        place-items: center;
                        .green {
                            color: #ffff;
                            font-size: larger;
                            transition: all;
                            animation: 1s scale ease-in-out infinite;
                        }
                    }
                }
            }
        }
        .arc_frame2 {
            width: 100vw;
            height: auto;
            background: #000000db;
            display: grid;
            justify-content: center;
            align-content: center;
            box-sizing: border-box;
            .arc_frame2_frame {
                all: unset;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                justify-content: center;
                align-content: center;
                width: 95vw;
                height: 95vh;
                box-sizing: border-box;
                .img {
                    width: 100%;
                    border-radius: 0.5rem;
                    box-sizing: border-box;
                    .frame2_img {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
                .article {
                    all: unset;
                    width: 100%;
                    text-transform: initial;
                    display: flex;
                    flex-direction: column;
                    text-justify: newspaper;
                    text-wrap: wrap;
                    box-sizing: border-box;
                    padding: 0em 0.3em;
                    h1 {
                        all: unset;
                        font-size: 2em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    p {
                        text-justify: newspaper;
                    }
                }
            }
        }
        .arc_frame3 {
            width: 100vw;
            height: 100vh;
            display: grid;
            place-content: center;
            background-color: #c5c5c5ca;
            color: #000;

            .arc_frame3_frame {
                all: unset;
                margin: 1em;
                display: grid;
                gap: 1em;
                grid-template-columns: repeat(2, 1fr);
                .article {
                    h1 {
                        all: unset;
                        font-size: 2em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    p {
                        text-justify: newspaper;
                    }
                }
                .img {
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
            }
        }
    }
}

@keyframes scale {
    0% {
    }
    50% {
        color: rgba(231, 229, 229, 0.514);
        scale: 7;
    }
    100% {
    }
}
@keyframes back {
    0% {
        color: #ffff;
    }
    50% {
        color: rgba(196, 197, 196, 0.349);
        padding-left: 1em;
    }
    100% {
        color: #ffff;
    }
}

@media screen and (max-width: 480px) {
    .arc_resident {
        .arc_resident_frame {
            .arc_frame2 {
                .arc_frame2_frame {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1em;
                }
            }
            .arc_frame3 {
                .arc_frame3_frame {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1em;
                }
            }
        }
    }
}
