body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0px;
  height: 100dh;
  width: 100dw;
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}