.nav_holder {
    position: absolute;
    // background-color: rgba(255, 255, 255, 0.363);
    z-index: 1;
    width: 100vw;
    min-height: 3em;
    display: flex;
    align-items: center;
    padding: 0.5em 0em;
    #house {
        font-size: 2em;
        color: #ffffff;
        margin-left: 2em;
        align-items: center;
        display: flex;
    }

    .link {
        margin-left: auto;
        display: flex;
        width: fit-content;
        gap: 0.5em;
        margin-right: 1em;

        .navlinks {
            text-transform: capitalize;
            text-decoration: none;
            color: rgb(255, 253, 253);
            align-items: center;
            font-weight: bolder;
            padding: 0.2em 0.6em;
            font-size: 1.2em;
            
            &:nth-child(1) {
                border: 2px solid #ffffff;
                border-radius: 0.2em;
                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }
            &:hover {
                border: 2px solid #ffffff;
                border-radius: 0.2em;
            }
        }
    }
}
